environment    = "demodb"
dns_domain     = "example.com"
public_key     = "id_rsa"
private_key    = "id_rsa.pem"
admin_password = "password"
access_key     = ""
secret_key     = ""
session_token  = ""
software       = "redislabs-7.22.0-241-jammy-amd64.tar"
redis_machine  = "m5.2xlarge"
client_machine = "m5.2xlarge"
